:root {
  --width: 40em;
  --num-blocks: 16;
  --block-width: calc(var(--width) / var(--num-blocks));
}
.block {
  width: var(--block-width);
  height: var(--block-width);
  border: var(--border-size) solid black;
  box-shadow: 1px 1px black;
}
main {
  border: 1px solid black;
  width: var(--width);
  display: inline-flex;
  flex-wrap: wrap;
}
